---
const usernem = "majo"
---

<h1 class="main-title">Hello World!</h1>
<p>Welcome {usernem}</p>

<style>
    .main-title{
        font-size: 5rem;
        color: rgb(17, 17, 235);
    }
    p {
        font-size: 4rem;
        margin-top: 2rem;
        color: rgb(3, 3, 31);
    }
</style>
